body{
    display:flex;
    align-items:center;
    justify-content:space-around;
}
button{
    align-items:center;
    background-color:darkseagreen;
    color:ghostwhite;
    border-radius: 30px;
    border-color:darkgreen;
    height:90px;
    width:100px;
    margin:25px;
}
input{
    margin: 15px;
    max-height:40px;
    max-width:60px;
}
.customizers{
    background-color:rgb(255, 233, 244);
    display:flex;
    justify-content: space-around ;
    align-items:center;
    padding:20px;
}

.container{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
        outline: 2px solid #09633c;
        padding:10px;
        height: 960px;
        width: 960px;

}
.grid{
    display:flex;
    flex-wrap: wrap;
    outline: 2px solid #e94253;
}
.row{
    display:flex;
    margin:none;
    align-items:center;

}

.cell{
    display:flex;
    flex: 1;
    background-color: #ccc; /* Cell background color */
    outline: 0.5px solid #e94253;

}

