
button{
    align-items:center;
    background-color:darkseagreen;
    color:ghostwhite;
    border-radius:300px;
    border-color:darkgreen;
    height:90px;
    width:100px;
    margin:25px;
}
.container{
    display:flex;
    flex-wrap:wrap;
    flex:1;
    margin:auto;
    height:960px;
    padding:0;
    width:960px;
    border:1px solid #000;

}
.grid{
    display:flex;
    margin:0;
    padding:0;

}
.column{
    display:flex;
    flex:1;
    justify-content:center;

}
.cell{
    display:flex;
    outline:1px solid #09633c;

}